{{#if navigation.length}}
<ul>
  {{#each navigation}}
  <li data-depth="{{or ../level 0}}">
    {{#if ./content}}
    {{#if ./items.length}}
    <button></button>
    {{/if}}
    {{#if ./url}}
    <a href="
      {{~#if (eq ./urlType 'internal')}}{{{relativize ./url}}}
      {{~else}}{{{./url}}}{{~/if}}">{{{./content}}}</a>
    {{else}}
    <span>{{{./content}}}</span>
    {{/if}}
    {{/if}}
{{> nav-tree navigation=./items level=(increment ../level)}}
  </li>
  {{/each}}
</ul>
{{/if}}
