<div data-panel="explore">
  {{#if page.component}}
  <div>
    <span>{{page.component.title}}</span>
    <span>{{page.componentVersion.displayVersion}}</span>
  </div>
  {{/if}}
  <ul>
    {{#each site.components}}
    <li>
      <a>{{{./title}}}</a>
      <ul>
        {{#each ./versions}}
        <li>
          <a href="{{{relativize ./url}}}">{{./displayVersion}}</a>
        </li>
        {{/each}}
      </ul>
    </li>
    {{/each}}
  </ul>
</div>
